<nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/index.html">
        <img src="/img/logo.png" alt="Logo" width="35" height="35" class="me-2">
        <span class="fw-semibold text-dark">CUIDAR É VIVER</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link text-dark" href="#areas">Áreas de Atuação</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="#sobre">Sobre nós</a></li>
          <li class="nav-item"><a class="nav-link text-dark" href="./login.html">Sou colaborador</a></li>
        </ul>
      </div>

      <a href="#agendar" class="btn btn-primary rounded-pill px-4">Entre em contato</a>
    </div>
  </nav>