#wrapper {
    overflow-x: hidden;
    min-height: 100vh; /* Ocupa a altura total da tela */
}

#sidebar-wrapper {
    min-height: 100vh;
    min-width: 250px; /* Largura fixa do menu */
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}